.standard {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


/*menu styling*/

.menu_icn {
    display: block;
    padding-left: 0px;
}

#page {
    display: block;
    position: relative;
    top: 0px;
    z-index: 99;
    width: 100%;
}

.main_mmenu {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    text-align: left;
}

.header_top{
    display: none;
}

.header_bottom{
    display: none;
}

.header_bottom_1 {
    padding: 0px;
    margin: 10px auto;
    display: block;
    height: 50px;
}

.header_bottom_ {
    display: none;
}
.social_icon{
    display: none;
}

.logo {
    margin-bottom: 0px;
    width: 100%;
    vertical-align: middle;
    max-width: 200px;
}

.logo img{
    width: 100%;
}

.cart {
    width: 15%;
    border: none;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}

.cart img {
    margin-bottom:-20px;
    max-width: 25px;
    margin-right: 0px;
}

.cart span{
    position: absolute;
    display: inline-flex;
}
.cart_txt {
    display: none;
}

.cart_txt_{
    margin:0px;
}

.cart_txt_2{
    display: none;
}

.cart .cart_txt span{
    display: none;
}

.cart_txt h5{
    display: none;
}

.menu_side {
    display: none;
}
.menu_icn img {
    width: 20px;
    height:20px;
    margin-top: 10px;
}

.nav_ {
    display: none;
}

.nav_ ul li {
    padding: 0px 8px 0px 8px;
}

.search{
    display: none;
}

.all1_left{
    display: none;
}

.all1_right{
    display: none;
}

.banner_txt{
    top: 21%;
}

.col_1,.col_2,.col_3{
    margin-top: 25px;
}

.banner_txt h6{
    font-size: 20px;
    margin-bottom: 4px;
}

.banner_txt h1{
    font-size: 20px;
    margin-bottom: 4px;
}

.banner_txt h5{
    font-size: 13px;
    margin-bottom: 4px;
}

.col1_left,.col3_left{
    width: 100%;
    text-align: center;
}
.col2_left{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.col1_left::after,.col2_left::after,.col3_left::after,
.col1_right::after,.col2_right::after,.col3_right::after{
    display: none
}
.col1_left img,.col2_left img,.col3_left img{
    width: 100%;
}

.col1_right,.col3_right{
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.col_2,.col_3{
    margin-top: 10px;
}

.col2_right{
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.col1_right_txt h1,.col3_right_txt h1,.col2_right_txt h1 {
    font-size:50px;
}

.col4_left{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

iframe{
    width: 300px;
    height: 200px;
}

.col4_right{
    width: 100%;
    text-align: center;
    margin: 0px;
}

.col4_inner {
    width: 32%;
}

.col4_inner_txt {
    width: 32%;
    bottom: 23%;
    font-size: 15px;
}

.col4 .col1_btn a{
    font-size: 14px;
}

.col1_btn a{
    font-size: 16px;
}
.col5{
    display: none;
}

.footer_links ul li {
    padding: 10px 10px 10px 10px;
}

.col6_inner_1 {
    width: 100%;
}

.col6_inner_1 h4{
    margin: 0px;
}

.col6_inner_1 .mail {
    width: 60%;
}

.col6_inner_1 .whatsapp_contact {
    width: 70%;
    text-align: center;
}

.col6_inner_1 .whatsapp_contact img {
    float: none;
    text-align: center;
}

.col6_inner_1 .whatsapp_contact h5 {
    font-size: 17px;
    text-align: center;
}

.col6_inner_2 {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.col6_inner_1 .col1_btn {
    width: 200px;
    margin: 10px auto;
}


/*--------------------about styling---------------------------*/
.about_txt{
    font-size:15px;
    margin-top: 0px;
}

.about_txt h1{
    font-size: 25px;
    margin-bottom: 20px;
}

/*--------------------about styling close---------------------------*/

/*--------------------contact styling---------------------------*/

.contact_side{
    border:none;
}

.contact_side h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.icon1 {
    width: 100%;
}

.form_1 {
    width: 100%;
}

.form2 {
    width: 100%;
    text-align: center;
}

.form_2_side {
    width: 100%;   
}

.form2_side{
    font-size: 15px;
}

.form_1_side {
    font-size: 13px;
    padding: 0px;
}

/*--------------------contact styling close---------------------------*/

/*--------------------thankyou styling---------------------------*/
.shopping_cart {
    margin-bottom: 0px;
}

.shopping_left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.shopping_left .cart_button {
    width: 100%;
}
.shopping_right {
    width: 100%;
}

.cart_button a {
    width: 100%;
    font-size: 12px;
}

.col3_box_txt h3 { 
    font-size: 13px;
}

.col3_box_txt h5 { 
    font-size: 10px;
}

.shopping_right .cart_side_box2 h5 {
    font-size: 15px;
}


.shopping_cart ul {
    margin: 5px 0px;
    width: 100%;
    text-align: left;
}

.shopping_cart ul li a {
    font-size: 10px;
    padding: 0px 1px;
}

.shopping_cart ul li::after {
    width: 11px;
    height: 6px;
}

.cart_input form ul li {
    font-size: 18px;
}

.shopping_right h3 {
    font-size: 16px;
}

.shopping_end h2 {
    margin-top: 20px;
    font-size: 25px
}

.shopping_right .col3_box {
    width: 30%;''
}

.shopping_left_ul {
    display: none;
}

.shopping_main ul li:nth-child(8n-4) {
    width: 17%;
}

.product_detail {
    border: none;
}

.add_product_to_cart {
    width: 100%;
    margin-left: 0%;
    margin-top: 0px;
}
.add_to_cart_main_pic_slide {
    display: none;
}

.add_to_cart_main_pic_responsive{
    display: block;
    margin: 0px auto;
    width: 100%;
    margin-bottom: 20px;
}

.cart_btn {
    width: 220px;
    margin: 0px;
    margin-bottom: 10px;
}

.cart_btn2 {
    margin-bottom: -12px;
}

.product_detail .ui-widget-header a {
    padding: 11px 11px !important;
    font-size: 11px !important;
}

.product_detail .ui-widget.ui-widget-content {
    border: none;
    text-align: center;
}


.col9 {
    border: none;
}

.col9_left {
    width: 100%;
    margin-bottom: 20px;
}

.col9_right {
    width: 100%;
    text-align: center;
}

.col9_main .col3_box {
    width: 43%;
    margin:0px 8px;
    margin-bottom: 10px;
}

/*--------------------thankyou styling close---------------------------*/
.footer_bottom {
    padding: 0px;
    text-align: center;
}

.imedia{
    margin-left: 0%;
}

.footer_bottom_left {
    font-size: 12px;
}

.imedia .design_develop {
    font-size: 13px;
}

.m_text a {
    font-size: 15px;
}

.chat_box{
    display:none;
}